@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
:root{
   
   --color-white: #F5F5F5;
   --color-black: #464646;
   --color-primary-ligth: #A7BAF2;
   --color-primary-dark : #7790D9;
   --color-secondary-ligth: #6273D9;
   --color-secondary-dark: #3B42BF;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 'EB Garamond', serif;
    color: var(--color-black);
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Sección Menu*/

main.main {
    background: var(--color-white);
}

section.menu{
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.menu__header {
    display: flex;
    align-items: center;
}

.menu__title {
    margin-left: 4px;
    font-weight: 700;
    font-style: italic;
}

.menu__nav {
    display: flex;
    align-items: center;
}

.menu__list {
    display: flex;
    
}

.menu__list__item {
    margin-right: 12px;
}

.menu__list__item:hover {
    text-decoration: underline;
}

.menu__list__item__contato {
    font-weight: 700;
}

/*Sección Title*/

section.title{
    padding: 1.4rem 10%;
}

.title__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.title__profile {
    width: 280px;
    border-radius: 50%;
}

.title__bio {
    font-size: 2rem;
    font-weight: 600;
}

.title__subsection {
    font-style: italic;
    font-size: 1.2rem;
}

.title__network {
    display: flex;
    padding: 0;
}

.title__network__item {
    margin-right: 8px;
}

/*Sección About*/

section.about{
    padding: 2.8rem 10%;
    background: var(--color-primary-dark);
}

.about__title {
    font-size: 2rem;
    font-weight: 700;
}

.about__container p{
    margin-right: 280px;
}

/*Sección Skills*/

section.skills {
    padding: 2.8rem 10%;
}

.hobbies__title {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
}

.hobbies__line {
    display: flex;
    flex-wrap: wrap;
}

.hobbies__box {
    width: 14%;
    height: 200px;
    display: flex;
    justify-content: start;
    margin: 1.33%;
    background: white;
}

.hobbies__box ul {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    align-self: end;
}

.hobbies__img {
    width: 22px;
}

.hobbies__name {
    font-weight: bold;
    font-size: 0.8rem;
}


/*Sección Hobbies*/

section.hobbies{
    padding: 2rem 10%;
}

.skills__title {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
}

.skills__line {
    display: flex;
    flex-wrap: wrap;
}

.skills__box {
    width: 14%;
    height: 200px;
    display: flex;
    justify-content: start;
    margin: 1.33%;
    background: white;
}

.skills__box ul {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    align-self: end;
}

.skills__img {
    width: 22px;
}

.skills__name {
    font-weight: bold;
    font-size: 0.8rem;
}


/* Experiencia Académica*/

section.academic{
    padding: 2rem 10%;
}

.academic__title {
    font-size: 2rem;
    text-align: center;
}

.academic__courses {
    display: flex;
    justify-content: center;
    align-items: center;
}

.academic__courses__box {
    width: 32%;
    margin: 1.33%;
}

.academic__courses__list {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.academic__courses__item__img {
   background-color: white;
   height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.academic__courses__item__img img{
    width: 200px;
    height: 60px;
}

.academic__courses__item__title h4{
    font-size: 1.2rem;
    margin: 4px 0;
}

.academic__courses__item__subtitle p{
    font-size: small;
    font-style: italic;
    margin: 4px 0;
}



/* experiencia*/

section.experience{
    padding: 2rem 10%;
}

.experience__section__title {
    font-size: 2rem;
    text-align: center;
}

.experiencie__box {
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.experiencie__box:nth-child(even){
    flex-direction: row;
}

.experiencie__box:nth-child(odd){
    flex-direction: row-reverse;
    justify-content: space-between;
}

.experience__img {
    width: 70%;
}

.experience__info {
    padding: 0 1rem;
}

.experience__title {
    font-size: 1.4rem;
}

.experience__text {
    font-size: small;
}

.experiencia__botao--repo {
    color: var(--color-secondary-ligth);
    border: 1px solid var(--color-secondary-ligth);
    padding: 0.5rem 1rem;
}

.experiencia__botao--repo:hover {
    color: var(--color-secondary-dark);
    border: 1px solid var(--color-secondary-dark);
    cursor: pointer;
}

.experience__botao--demo {
    color: var(--color-white);
    border: none; 
    background-color: var(--color-secondary-ligth);
    padding: 0.5rem 1rem;
}

.experience__botao--demo:hover{
    background-color: var(--color-secondary-dark);
    cursor: pointer;
}

/*Contacto*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (max-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

section.skills {
    padding: 2rem 5%;
}

.skills__box {
    width: 31.3%;
    margin: 1%;
}

/*Hobbies*/

section.hobbies{
    padding: 2rem 5%;
}

.hobbies__box {
    width: 31.3%;
    margin: 1%;
}



/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}